:root {
    --main: #010D44;
    --degrade: linear-gradient(0deg, rgba(0,6,54,1) 0%, rgba(131,151,167,1) 100%);
    --light: #ACBCC0;
}

@font-face {
    font-family: 'Electrolux Sans';
    src: url('./fonts/ElectroluxSans-Regular.eot');
    src: local('./fonts/Electrolux Sans Regular'), local('./fonts/ElectroluxSans-Regular'),
        url('./fonts/ElectroluxSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/ElectroluxSans-Regular.woff2') format('woff2'),
        url('./fonts/ElectroluxSans-Regular.woff') format('woff'),
        url('./fonts/ElectroluxSans-Regular.ttf') format('truetype'),
        url('./fonts/ElectroluxSans-Regular.svg#ElectroluxSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electrolux Sans SemiBold';
    src: url('./fonts/ElectroluxSans-SemiBold.eot');
    src: local('./fonts/Electrolux Sans SemiBold'), local('./fonts/ElectroluxSans-SemiBold'),
        url('./fonts/ElectroluxSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/ElectroluxSans-SemiBold.woff2') format('woff2'),
        url('./fonts/ElectroluxSans-SemiBold.woff') format('woff'),
        url('./fonts/ElectroluxSans-SemiBold.ttf') format('truetype'),
        url('./fonts/ElectroluxSans-SemiBold.svg#ElectroluxSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    position: relative;    
    font-family: 'Electrolux Sans', san-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

section {
    position: relative;
    display: grid;
}

.container-01 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
}

.container-01 .left-side {
    background-color: var(--main);
    width: 40%;
    height: auto;
    min-height: 400px;
    padding: 3rem;
    color: #FFF;
}

.container-01 .left-side h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.container-01 .left-side p {
    font-size: 2rem;
}

.container-01 .right-side {
    width: 60%;
    position: relative;
}

.container-01 .right-side img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.container-02 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    padding: 3rem 3rem 2rem;
}

.container-02 .left-side {
    width: 60%;
}

.container-02 .left-side .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    padding-top: 3rem;
}

.container-02 .left-side .icons img {
    width: 150px;
    height: 150px;
    max-width: 100%;
}

.container-02 .left-side .icons p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main);
}

.container-02 .left-side .banner-blue {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    padding: 3rem;
    color: #fff;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.container-02 .left-side .banner-blue::before {
    content: '';
    background-color: var(--main);
    width: calc(100% + 66.5%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container-02 .left-side .banner-blue img {
    width: 100px;
    height: 100px;
    max-width: 100%;
}

.container-02 .left-side .banner-blue strong {
    font-size: 1.8rem;
}

.container-02 .left-side .banner-blue p {
    font-size: 1.3rem;
    margin-top: .5rem;
    margin-bottom: 0;
}

.container-02 .left-side .add-info {
    padding: 5rem 3rem;
    width: 100%;
    min-height: 400px;
    color: #FFF;
    position: relative;
}

.container-02 .left-side .add-info::before {
    content: '';
    background-color: #8c9aa8;
    width: 1440px;
    height: 100%;
    position: absolute;
    top: -2rem;
    left: -3rem;
    z-index: -2;
}

.container-02 .left-side .add-info h2 {
    font-size: 3rem;
    margin-bottom: .5rem;
}

.container-02 .left-side .add-info p {
    font-size: 1.5rem;
}

.container-02 .right-side {
    width: 40%;
    text-align: center;
}

.container-02 .right-side img {
    max-width: 100%;
    height: 880px;
}

.container-03 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 3rem;
    align-items: center;
}

.container-03 .left-side {
    width: 60%;
    color: var(--main);
    font-size: 3rem;
    line-height: 1.5;
    padding: 2rem 0;
}

.container-03 .right-side {
    width: 40%;
}

.container-03 .right-side img {
    max-width: 100%;
    height: auto;
}

.container-04 {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0rem 2rem;
    min-height: 900px;
    margin-top: 3rem;
    display: block;
}

.container-04 .card {
    width: 100%;
    max-width: 600px;
    background-color: var(--main);
    height: auto;
    min-height: 250px;
    color: #FFF;
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    z-index: 1;
}

.container-04 .card .no-js .owl-carousel, .container-04 .card .owl-carousel.owl-loaded {
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-04 .card .owl-stage-outer {
    order: 3
}

.container-04 .card .owl-nav {
    order: 2;
}

.container-04 .card .owl-dots {
    order: 1;
    margin: 0 0 1.5rem;
}

.container-04 .card .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    margin: 5px 10px;
    background-color: #8c9aa8;
}

.container-04 .card .owl-dots .owl-dot.active span,
.container-04 .card .owl-dots .owl-dot:hover span {
    background-color: #FFF;
}

.container-04 .card .item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.container-04 .card .item img {
    max-width: 100%;
    width: 100px;
    height: auto;
}

.container-04 .card .item div {
    flex: auto;
}

.container-04 .card .item strong {
    font-size: 1.5rem;
}

.container-04 .card .item p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.container-04 .back-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    padding-top: 3rem;
}

.container-04 .back-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.container-05 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 3rem;
    background-color: #8c9aa8;
}

.container-05 .left-side {
    width: 50%;
    padding-top: 3rem;
    margin-right: -2rem;
    z-index: 2;
}

.container-05 .left-side .content {
    max-width: 500px;
    min-height: 600px;
    margin-left: auto;
    background-color: var(--main);
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: #FFF;
}

.container-05 .left-side .content img {
    max-width: 100%;
    height: auto;
    width: 150px;
}

.container-05 .left-side .content h2 {
    font-size: 2.5rem;
}

.container-05 .left-side .content p {
    font-size: 1.2rem;
}

.container-05 .right-side {
    width: 40%;
    padding-top: 3rem;
    margin-top: -3rem;
    background-color: #FFF;
}

.container-05 .right-side img {
    max-width: 100%;
    height: auto;
    max-height: 1000px;
    margin: 0 auto;
    display: block;
}


.container-06 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 2rem 3rem 0 0;
    background-color: #8c9aa8;
}

.container-06::before {
    content: '';
    width: 60%;
    height: calc(100% + 3rem);
    background-color: var(--main);
    position: absolute;
    right: 3rem;
    top: 2rem;
    z-index: 0;
}

.container-06 .left-side {
    width: 55%;
}

.container-06 .left-side img {
    max-width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
}

.container-06 .right-side {
    width: 45%;
    z-index: 1;
}

.container-06 .right-side .content {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    color: #FFF;
    height: 100%;
}

.container-06 .right-side .content img {
    max-width: 100%;
    height: auto;
    width: 150px;
}

.container-06 .right-side .content h2 {
    font-size: 2.5rem;
}

.container-06 .right-side .content p {
    font-size: 1.2rem;
}


.container-07 {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    color: var(--main);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem;
    padding-top: 10rem;
}

.container-07 .left-side {
    width: 50%;
    text-align: center;
    padding: 3rem;
}

.container-07 .left-side img {
    max-width: 100%;
}

.container-07 .right-side {
    width: 50%;
}

.container-07 .right-side p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.container-07 .right-side .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-07 .right-side .cards .card {
    border: 1px solid #777;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
}

.container-07 .right-side .cards .card .card-head {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 1.3rem;
}

.container-07 .right-side .cards .card .card-head img {
    width: auto;
    height: 20px;
}

.container-07 .right-side .cards .card .card-head strong {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}

.container-07 .right-side .cards .card div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.container-07 .right-side .cards .card div span {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.container-07 .right-side .cards .card div span:not(:last-child) {
    display: block;
    border-bottom: 1px solid #777;
    padding-bottom: .5rem;
}

.container-08 {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
}

.container-08 img {
    max-width: 100%;
    height: auto;
}

.container-08 div {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 2rem;
}

.container-08 div p {
    font-size: calc(2.375rem + 1.5vw);
    color: #FFF;
    margin: 0;
}


footer {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding: 2.5rem 0;
    background-color: var(--main);
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .container-01 {
        flex-direction: column;
    }

    .container-01 .left-side,
    .container-01 .right-side {
        width: 100%;
    }

    .container-01 .left-side br {
        display: none;
    }

    .container-02 .left-side .add-info {
        padding: 3rem 3rem 5rem;
    }

    .container-03 {
        flex-direction: column;
    }

    .container-03 .left-side {
        width: 100%;
        font-size: 2.5rem;
    }

    .container-03 .left-side p {
        margin-top: 0;
    }

    .container-03 .left-side p br {
        display: none;
        margin-top: 0;
    }

    .container-03 .right-side {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {    
    .container-01 .left-side h1 {
        font-size: 2.5rem;
    }

    .container-02 {
        flex-direction: column;
    }

    .container-02 .left-side {
        width: 100%;
    }

    .container-02 .left-side .banner-blue {
        flex-direction: column;
    }

    .container-02 .right-side {
        width: 100%;
    }

    .container-03 .left-side {
        font-size: 2rem;
    }

    .container-05 {
        flex-direction: column;
        padding: 0 3rem;
        gap: 3rem;
    }

    .container-05 .left-side {
        width: 100%;
        margin-right: 0;
    }

    .container-05 .right-side {
        width: 100%;
        margin-top: 0;
    }

    .container-06 {
        flex-direction: column;
        padding: 2rem 2rem 0 2rem;
    }

    .container-06::before {
        width: 90%;
        height: calc(100% - 10rem);
        left: 5%;
        right: 5%;
        top: 15rem;
    }

    .container-06 .left-side {
        width: 100%;
    }

    .container-06 .right-side {
        width: 100%;
        z-index: 1;
    }

    .container-06 .right-side .content {
        padding: 0 3rem;
    }

    .container-07 {
        flex-direction: column;
        gap: 1rem;
    }

    .container-07 .left-side,
    .container-07 .right-side {
        width: 100%;
    }
}