@font-face {
    font-family: 'Electrolux Sans';
    src: url('ElectroluxSans-Regular.eot');
    src: local('Electrolux Sans Regular'), local('ElectroluxSans-Regular'),
        url('ElectroluxSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('ElectroluxSans-Regular.woff2') format('woff2'),
        url('ElectroluxSans-Regular.woff') format('woff'),
        url('ElectroluxSans-Regular.ttf') format('truetype'),
        url('ElectroluxSans-Regular.svg#ElectroluxSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electrolux Sans';
    src: url('ElectroluxSans-SemiBold.eot');
    src: local('Electrolux Sans SemiBold'), local('ElectroluxSans-SemiBold'),
        url('ElectroluxSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('ElectroluxSans-SemiBold.woff2') format('woff2'),
        url('ElectroluxSans-SemiBold.woff') format('woff'),
        url('ElectroluxSans-SemiBold.ttf') format('truetype'),
        url('ElectroluxSans-SemiBold.svg#ElectroluxSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

