:root {
    --main: #010D44;
    --degrade: linear-gradient(0deg, rgba(0,6,54,1) 0%, rgba(131,151,167,1) 100%);
    --light: #ACBCC0;
}

@font-face {
    font-family: 'Electrolux Sans';
    src: url('./fonts/ElectroluxSans-Regular.eot');
    src: local('./fonts/Electrolux Sans Regular'), local('./fonts/ElectroluxSans-Regular'),
        url('./fonts/ElectroluxSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/ElectroluxSans-Regular.woff2') format('woff2'),
        url('./fonts/ElectroluxSans-Regular.woff') format('woff'),
        url('./fonts/ElectroluxSans-Regular.ttf') format('truetype'),
        url('./fonts/ElectroluxSans-Regular.svg#ElectroluxSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electrolux Sans SemiBold';
    src: url('./fonts/ElectroluxSans-SemiBold.eot');
    src: local('./fonts/Electrolux Sans SemiBold'), local('./fonts/ElectroluxSans-SemiBold'),
        url('./fonts/ElectroluxSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/ElectroluxSans-SemiBold.woff2') format('woff2'),
        url('./fonts/ElectroluxSans-SemiBold.woff') format('woff'),
        url('./fonts/ElectroluxSans-SemiBold.ttf') format('truetype'),
        url('./fonts/ElectroluxSans-SemiBold.svg#ElectroluxSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    position: relative;    
    font-family: 'Electrolux Sans', san-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.bold {
    font-family: 'Electrolux Sans SemiBold';
    font-weight: 600;
    font-style: normal;
}

section {
    position: relative;
    display: grid;
}

.container-01 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--main);
    padding: 3rem;
    color: #fff;
}

.container-01 header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.container-01 header span {
    font-size: 1.5rem;
    font-weight: bold
}

.container-01 p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container-01 h1 {
    margin: 0;
    font-size: 4.5rem;
    margin-bottom: 4rem;
}

.container-02 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container-02 img {
    max-width: 100%;
    height: auto;
}

.container-03 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 3rem
}

.container-03::before {
    content: '';
    width: 65%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #8c9aa8;
    top: 0;
    right: 5%;
}

.container-03 .left-side {
    width: 60%;
}

.container-03 .right-side {
    width: 40%;
}

.container-03 .left-side img {
    max-width: 100%;
}

.container-03 .right-side div {
    width: 500px;
    background-color: var(--main);
    color: #FFF;
    padding: 2rem 0;
    margin-top: -4rem;
    margin-left: auto;
    text-align: center;
}

.container-03 .right-side div h2 {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 0;
}

.container-03 .right-side div img {
    max-width: 100%;
    width: 400px;
    margin-left: -50%;
}

.container-03 .right-side h2 {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-top: 2rem;
    color: #FFF;
}

.container-03 .right-side p {
    font-size: 1.5rem;
    color: #FFF;
}


.container-04 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 800px;
    overflow: hidden;
}

.container-04 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.container-05 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 3rem;
    background-color: #8c9aa8;
}

.container-05 .left-side {
    width: 50%;
    padding-top: 3rem;
    margin-right: -2rem;
    z-index: 2;
}

.container-05 .left-side .content {
    max-width: 500px;
    min-height: 600px;
    margin-left: auto;
    background-color: var(--main);
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: #FFF;
}

.container-05 .left-side .content h2 {
    font-size: 2.5rem;
}

.container-05 .left-side .content p {
    font-size: 1.2rem;
}

.container-05 .right-side {
    width: 40%;
    padding-top: 3rem;
    margin-top: -3rem;
    background-color: #FFF;
}

.container-05 .right-side img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}


.container-06 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 2rem 3rem 0 0;
    background-color: #8c9aa8;
}

.container-06::before {
    content: '';
    width: 60%;
    height: calc(100% + 5rem);
    background-color: var(--main);
    position: absolute;
    right: 3rem;
    top: 2rem;
    z-index: 0;
}

.container-06 .left-side {
    width: 55%;
}

.container-06 .left-side img {
    max-width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
}

.container-06 .right-side {
    width: 45%;
    z-index: 1;
}

.container-06 .right-side .content {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    color: #FFF;
    height: 100%;
}

.container-06 .right-side .content h2 {
    font-size: 2.5rem;
}

.container-06 .right-side .content p {
    font-size: 1.2rem;
}


.container-07 {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    color: var(--main);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem;
    padding-top: 10rem;
}

.container-07 .left-side {
    width: 50%;
    text-align: center
}

.container-07 .left-side img {
    max-width: 100%;
}

.container-07 .right-side {
    width: 50%;
}

.container-07 .right-side p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.container-07 .right-side .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-07 .right-side .cards .card {
    border: 1px solid #777;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
}

.container-07 .right-side .cards .card .card-head {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 1.3rem;
}

.container-07 .right-side .cards .card .card-head img {
    width: auto;
    height: 20px;
}

.container-07 .right-side .cards .card .card-head strong {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}

.container-07 .right-side .cards .card div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.container-07 .right-side .cards .card div span {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.container-07 .right-side .cards .card div span:not(:last-child) {
    display: block;
    border-bottom: 1px solid #777;
    padding-bottom: .5rem;
}

footer {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding: 2.5rem 0;
    background-color: var(--main);
    text-align: center;
}


@media only screen and (max-width: 992px) {
    .container-03::before {
        right: 0%;
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .container-01 h1 {
        font-size: 3rem;
    }

    .container-03::before {
        width: 100%;
    }

    .container-03 {
        flex-direction: column;
        gap: 3rem;
    }

    .container-03 .left-side {
        width: 100%;
    }

    .container-03 .right-side {
        width: 100%;
        padding: 0 3rem;
        text-align: center;
    }

    .container-03 .right-side div {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 500px) {
    .container-01 h1 {
        font-size: 2.2rem;
    }

    .container-03 .right-side div {
        width: 100%;
    }

    .container-03 .right-side div img {
        margin-left: -5%;
    }

    .container-05 {
        flex-direction: column;
        padding: 0 3rem;
        gap: 3rem;
    }

    .container-05 .left-side {
        width: 100%;
        margin-right: 0;
    }

    .container-05 .right-side {
        width: 100%;
        margin-top: 0;
    }

    .container-06 {
        flex-direction: column;
        padding: 2rem 2rem 0 2rem;
    }

    .container-06::before {
        width: 90%;
        height: calc(100% - 10rem);
        left: 5%;
        right: 5%;
        top: 15rem;
    }

    .container-06 .left-side {
        width: 100%;
    }

    .container-06 .right-side {
        width: 100%;
        z-index: 1;
    }

    .container-06 .right-side .content {
        padding: 0 3rem;
    }

    .container-07 {
        flex-direction: column;
        gap: 1rem;
    }

    .container-07 .left-side,
    .container-07 .right-side {
        width: 100%;
    }
}